// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.board {
  width: 500px;
}
.cards {
  height: 70px;
  width: 70px;
  border: 1px solid #333;
  color: #29323C;
  margin: 0 10px 10px 0;
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  .pos-center {
    display: none;
    @include center;
  }
}
.matched {
  background-color: #ECF0F1;
  // position: relative;
}
.info {
  margin: 5% 0 3% 0;
}
.email-section {
  border-left: 1px solid #ccc;
  padding-left: 40px;
}
.modal-body {
  // padding-top: 20%;
  min-height: 300px;
  margin: auto;
  text-align: center;
  .modal-body-center {
    @include center;
  }
}